section.about.bg-money-left 
    .wrapper-big
        .wrapper.about__content
            header.hidden-mb
                h2.h2 О Франшизе 
            div.about__content-flex
                div.about__content-desc
                    p Приглашаем присоединиться к франшизе по продаже металлоискателей в Екатеринбурге. 
                    p Металлоискатель это электронный прибор, позволяющий обнаруживать металлические предметы в грунте, воде, стенах, древесине.
                    p Вся продукция лицензирована и имеет необходимые сертификаты соответствия. <br />Гарантия на продукцию от 2 лет.
                    p Продажа металлоискателей и аксессуаров обеспечивает маржинальность от 20 до 60%.  
                    p Металлоискатель это сезонный товар, <span class="nowrap">с высоким спросом</span> девять месяцев в году.

                figure.about__content-video
                    picture.video(data-modal-open="video")
                        source(type="image/webp" media="(min-width: 760px)"
                            srcset="img/man-presenting-a-franchise-tablet.webp 1x, img/man-presenting-a-franchise-tablet@2x.webp 2x")
                        source(type="image/webp" 
                            srcset="img/man-presenting-a-franchise.webp 1x, img/man-presenting-a-franchise@2x.webp 2x")
                        
                        source(media="(min-width: 760px)"
                            srcset="img/man-presenting-a-franchise-tablet.jpg 1x, img/man-presenting-a-franchise-tablet@2x.jpg 2x")
                        img(src="img/man-presenting-a-franchise.jpg" 
                            srcset="img/man-presenting-a-franchise@2x.jpg 2x" width="280" height="185" 
                            alt="Мужчина презентует франшизу GPSOFF")
                        button(type="button" aria-label="Возпроизвести видео").video__button-play
                            svg
                                use(xlink:href ='img/sprite.svg#video-playcircle')
                            
                    figcaption.about__content-video Видеопрезентация франшизы

        figure
            div.about__gallery
                picture
                    source(type="image/webp" 
                        media="(min-width: 1200px)"
                        srcset="img/metal-detector-shop-desktop-2.webp 1x, img/metal-detector-shop-desktop-2@2x.webp 2x")
                    source(type="image/webp" media="(min-width: 760px)"
                        srcset="img/metal-detector-shop-tablet-2.webp 1x, img/metal-detector-shop-tablet-2@2x.webp 2x")
                    source(type="image/webp" 
                        srcset="img/metal-detector-shop-2.webp 1x, img/metal-detector-shop-2@2x.webp 2x")
                    
                    source(media="(min-width: 1200px)"
                        srcset="img/metal-detector-shop-desktop-2.jpg 1x, img/metal-detector-shop-desktop-2@2x.jpg 2x")
                    source(media="(min-width: 760px)"
                        srcset="img/metal-detector-shop-tablet-2.jpg 1x, img/metal-detector-shop-tablet-2@2x.jpg 2x")
                    img(src="img/metal-detector-shop-2.jpg" 
                        srcset="img/metal-detector-shop-2@2x.jpg 2x" width="320" height="150" 
                        alt="Магазин GPSOFF в Санкт-Петербурге")
                picture
                    source(type="image/webp" 
                        media="(min-width: 1200px)"
                        srcset="img/assortment-metal-detector-shop-desktop.webp 1x, img/assortment-metal-detector-shop-desktop@2x.webp 2x")
                    source(type="image/webp" media="(min-width: 760px)"
                        srcset="img/assortment-metal-detector-shop-tablet.webp 1x, img/assortment-metal-detector-shop-tablet@2x.webp 2x")
                    source(type="image/webp" 
                        srcset="img/assortment-metal-detector-shop.webp 1x, img/assortment-metal-detector-shop@2x.webp 2x")
                    
                    source(media="(min-width: 1200px)"
                        srcset="img/assortment-metal-detector-shop-desktop.jpg 1x, img/assortment-metal-detector-shop-desktop@2x.jpg 2x")
                    source(media="(min-width: 760px)"
                        srcset="img/assortment-metal-detector-shop-tablet.jpg 1x, img/assortment-metal-detector-shop-tablet@2x.jpg 2x")
                    img(src="img/assortment-metal-detector-shop.jpg" 
                        srcset="img/assortment-metal-detector-shop@2x.jpg 2x" width="320" height="150" 
                        alt="Ассортимент магазина GPSOFF в Санкт-Петербурге")

                picture
                    source(type="image/webp" 
                        media="(min-width: 1200px)"
                        srcset="img/metal-detector-shop-desktop.webp 1x, img/metal-detector-shop-desktop@2x.webp 2x")
                    source(type="image/webp" media="(min-width: 760px)"
                        srcset="img/metal-detector-shop-tablet.webp 1x, img/metal-detector-shop-tablet@2x.webp 2x")
                    source(type="image/webp" 
                        srcset="img/metal-detector-shop.webp 1x, img/metal-detector-shop@2x.webp 2x")
                    
                    source(media="(min-width: 1200px)"
                        srcset="img/metal-detector-shop-desktop.jpg 1x, img/metal-detector-shop-desktop@2x.jpg 2x")
                    source(media="(min-width: 760px)"
                        srcset="img/metal-detector-shop-tablet.jpg 1x, img/metal-detector-shop-tablet@2x.jpg 2x")
                    img(src="img/metal-detector-shop.jpg" 
                        srcset="img/metal-detector-shop@2x.jpg 2x" width="320" height="150" 
                        alt="Магазин GPSOFF в Санкт-Петербурге")

            figcaption.wrapper.about__gallery-caption фотографии магазина в Санкт-Петербурге