section.wrapper.brands
    .brands__content
        h2.h2.brands__header Бренды
        p.brands__desc Мы работаем с качественной продукцией производства США, Франции и России.  Вся продукция лицензирована и имеет сертификаты соответствия.  Есть русифицированные версии.
        ul.brands__list
            li 
                picture 
                    source(type="image/webp" media="(min-width: 760px)"
                        srcset="img/logos/logo-garrett-metal-detectors-tablet.webp 1x, img/logos/logo-garrett-metal-detectors-tablet@2x.webp 2x")
                    source(type="image/webp" 
                        srcset="img/logos/logo-garrett-metal-detectors.webp 1x, img/logos/logo-garrett-metal-detectors@2x.webp 2x")
                    
                    source(media="(min-width: 760px)"
                        srcset="img/logos/logo-garrett-metal-detectors-tablet.png 1x, img/logos/logo-garrett-metal-detectors-tablet@2x.png 2x")
                    img(src="img/logos/logo-garrett-metal-detectors.png" 
                        srcset="img/logos/logo-garrett-metal-detectors@2x.png 2x" width="180" height="80" 
                        alt="Логотип Garrett Metal Detectors") 
            li
                picture 
                    source(type="image/webp" media="(min-width: 760px)"
                        srcset="img/logos/logo-fisher-labs-tablet.webp 1x, img/logos/logo-fisher-labs-tablet@2x.webp 2x")
                    source(type="image/webp" 
                        srcset="img/logos/logo-fisher-labs.webp 1x, img/logos/logo-fisher-labs@2x.webp 2x")
                    
                    source(media="(min-width: 760px)"
                        srcset="img/logos/logo-fisher-labs-tablet.png 1x, img/logos/logo-fisher-labs-tablet@2x.png 2x")
                    img(src="img/logos/logo-fisher-labs.png" 
                        srcset="img/logos/logo-fisher-labs@2x.png 2x" width="180" height="80" 
                        alt="Логотип Fisher Labs") 
            li
                picture 
                    source(type="image/webp" media="(min-width: 760px)"
                        srcset="img/logos/logo-minelab-tablet.webp 1x, img/logos/logo-minelab-tablet@2x.webp 2x")
                    source(type="image/webp" 
                        srcset="img/logos/logo-minelab.webp 1x, img/logos/logo-minelab@2x.webp 2x")
                    
                    source(media="(min-width: 760px)"
                        srcset="img/logos/logo-minelab-tablet.png 1x, img/logos/logo-minelab-tablet@2x.png 2x")
                    img(src="img/logos/logo-minelab.png" 
                        srcset="img/logos/logo-minelab@2x.png 2x" width="180" height="80" 
                        alt="Логотип MineLab") 
            li
                picture 
                    source(type="image/webp" media="(min-width: 760px)"
                        srcset="img/logos/logo-makro-metal-detector-tablet.webp 1x, img/logos/logo-makro-metal-detector-tablet@2x.webp 2x")
                    source(type="image/webp" 
                        srcset="img/logos/logo-makro-metal-detector.webp 1x, img/logos/logo-makro-metal-detector@2x.webp 2x")
                    
                    source(media="(min-width: 760px)"
                        srcset="img/logos/logo-makro-metal-detector-tablet.png 1x, img/logos/logo-makro-metal-detector-tablet@2x.png 2x")
                    img(src="img/logos/logo-makro-metal-detector.png" 
                        srcset="img/logos/logo-makro-metal-detector@2x.png 2x" width="180" height="80" 
                        alt="Логотип Makro metal detector")
            li 
                picture 
                    source(type="image/webp" media="(min-width: 760px)"
                        srcset="img/logos/logo-bountihunter-metal-detectors-tablet.webp 1x, img/logos/logo-bountihunter-metal-detectors-tablet@2x.webp 2x")
                    source(type="image/webp" 
                        srcset="img/logos/logo-bountihunter-metal-detectors.webp 1x, img/logos/logo-bountihunter-metal-detectors@2x.webp 2x")
                    
                    source(media="(min-width: 760px)"
                        srcset="img/logos/logo-bountihunter-metal-detectors-tablet.png 1x, img/logos/logo-bountihunter-metal-detectors-tablet@2x.png 2x")
                    img(src="img/logos/logo-bountihunter-metal-detectors.png" 
                        srcset="img/logos/logo-bountihunter-metal-detectors@2x.png 2x" width="180" height="80" 
                        alt="Логотип Bountihunter")
            li
                picture 
                    source(type="image/webp" media="(min-width: 760px)"
                        srcset="img/logos/logo-teknetics-tablet.webp 1x, img/logos/logo-teknetics-tablet@2x.webp 2x")
                    source(type="image/webp" 
                        srcset="img/logos/logo-teknetics.webp 1x, img/logos/logo-teknetics@2x.webp 2x")
                    
                    source(media="(min-width: 760px)"
                        srcset="img/logos/logo-teknetics-tablet.png 1x, img/logos/logo-teknetics-tablet@2x.png 2x")
                    img(src="img/logos/logo-teknetics.png" 
                        srcset="img/logos/logo-teknetics@2x.png 2x" width="180" height="80" 
                        alt="Логотип Teknetics")
      
    picture.hidden-mb.hidden-tb.brands__img
        source(type="image/webp" 
            srcset="img/brands-in-store-desktop.webp 1x, img/brands-in-store-desktop@2x.webp 2x")
        img(src="img/brands-in-store-desktop.jpg" 
            srcset="img/brands-in-store-desktop@2x.jpg 2x" width="512" height="506" 
            alt="Бренды в магазине GPSOFF")