section.wrapper.guarantee
    picture.guarantee__img
        source(type="image/webp" 
            media="(min-width: 1200px)"
            srcset="img/graphics-guarantee-desktop.webp 1x, img/graphics-guarantee-desktop@2x.webp 2x")
        source(type="image/webp" media="(min-width: 760px)"
            srcset="img/graphics-guarantee-tablet.webp 1x, img/graphics-guarantee-tablet@2x.webp 2x")
        source(type="image/webp" 
            srcset="img/graphics-guarantee.webp 1x, img/graphics-guarantee@2x.webp 2x")
        
        source(media="(min-width: 1200px)"
            srcset="img/graphics-guarantee-desktop.jpg 1x, img/graphics-guarantee-desktop@2x.jpg 2x")
        source(media="(min-width: 760px)"
            srcset="img/graphics-guarantee-tablet.jpg 1x, img/graphics-guarantee-tablet@2x.jpg 2x")
        img(src="img/graphics-guarantee.jpg" 
            srcset="img/graphics-guarantee@2x.jpg 2x" width="280" height="276" 
            alt="Гарантии в виде графиков") 
    .guarantee__desc
        h2.h2.guarantee__header Три вида гарантии
        dl.guarantee__list
            dt Гарантия возврата инвестиций
            dd Если в течение 3х месяцев не происходит окупаемость - полный возврат средств при сохранении товарного вида продукции.  
            dt Гарантия на продукцию 
            dd Металлоискатели редко ломаются и бесплатно ремонтируются офицальным дилером. Срок гарантии - 2 года.
            dt Гарантия высокого спроса
            dd Ежемесячно в Яндексе осуществляется 15 000 запросов по теме металлоискателей в Свердловской области - <a class="link link--regular" href="https://wordstat.yandex.ru/#!/?words=%20%D0%BC%D0%B5%D1%82%D0%B0%D0%BB%D0%BB%D0%BE%D0%B8%D1%81%D0%BA%D0%B0%D1%82%D0%B5%D0%BB%D0%B8%20" target="_blank" rel="noopener">wordstat.yandex.ru</a>.
