section.lead.wrapper-big
    header.lead__title
        h1.visually-hidden Франшиза от  GPSOFF сети магазинов по продаже металлоискателей
        h2.h1 Расширьте ассортимент 
        h3.subtitle Продавая металлоискатели<br />и зарабатывайте от 100 000 ₽/мес

    picture.lead__img
        source(type="image/webp" 
            media="(min-width: 1200px)"
            srcset="img/girls-with-metal-detector-gpsoff-desktop.webp 1x, img/girls-with-metal-detector-gpsoff-desktop@2x.webp 2x")
        source(type="image/webp" media="(min-width: 760px)"
            srcset="img/girls-with-metal-detector-gpsoff-tablet.webp 1x, img/girls-with-metal-detector-gpsoff-tablet@2x.webp 2x")
        source(type="image/webp" 
            srcset="img/girls-with-metal-detector-gpsoff-mobile.webp 1x, img/girls-with-metal-detector-gpsoff-mobile@2x.webp 2x")
        source(media="(min-width: 1200px)"
            srcset="img/girls-with-metal-detector-gpsoff-desktop.jpg 1x, img/girls-with-metal-detector-gpsoff-desktop@2x.jpg 2x")
        source(media="(min-width: 760px)"
            srcset="img/girls-with-metal-detector-gpsoff-tablet.jpg 1x, img/girls-with-metal-detector-gpsoff-tablet@2x.jpg 2x")
        img(src="img/girls-with-metal-detector-gpsoff-mobile.jpg" 
            srcset="img/girls-with-metal-detector-gpsoff-mobile@2x.jpg 2x" width="277" height="320" 
            alt="Девушка с металоискателем в руках")
    .lead__info
        ul.lead__adv
            li Прибыль с первых дней работы
            li Готовый интернет магазин
            li Без взносов и платежей
        a.link.link--accent(href="#form-send") Узнать подробнее