a(href="/")
    picture.logo-main
        source(type="image/webp" media="(min-width: 760px)"
            srcset="img/gpsoff-logo-tablet.webp 1x, img/gpsoff-logo-tablet@2x.webp 2x")
        source(type="image/webp" 
            srcset="img/gpsoff-logo-mobile.webp 1x, img/gpsoff-logo-mobile@2x.webp 2x")
        
        source(media="(min-width: 760px)"
            srcset="img/gpsoff-logo-tablet.jpg 1x, img/gpsoff-logo-tablet@2x.jpg 2x")
        img(src="img/gpsoff-logo-mobile.jpg" 
            srcset="img/gpsoff-logo-mobile@2x.jpg 2x" width="75" height="25" 
            alt="gpsoff логотип сети магазинов по продаже металлоискателей")