section.partnership.wrapper
    picture.partnership__img
        source(type="image/webp" 
            media="(min-width: 1200px)"
            srcset="img/girl-with-metal-detector-desktop.webp 1x, img/girl-with-metal-detector-desktop@2x.webp 2x")
        source(type="image/webp" media="(min-width: 760px)"
            srcset="img/girl-with-metal-detector-tablet.webp 1x, img/girl-with-metal-detector-tablet@2x.webp 2x")
        source(type="image/webp" 
            srcset="img/girl-with-metal-detector.webp 1x, img/girl-with-metal-detector@2x.webp 2x")
        
        source(media="(min-width: 1200px)"
            srcset="img/girl-with-metal-detector-desktop.jpg 1x, img/girl-with-metal-detector-desktop@2x.jpg 2x")
        source(media="(min-width: 760px)"
            srcset="img/girl-with-metal-detector-tablet.jpg 1x, img/girl-with-metal-detector-tablet@2x.jpg 2x")
        img(src="img/girl-with-metal-detector.jpg" 
            srcset="img/girl-with-metal-detector@2x.jpg 2x" width="280" height="320" 
            alt="Девушка с металлоискателем в руке")
            
    .partnership__content       
        h2.h2.partnership__header Выгодное партнерство

        ul.partnership__list
            li.order-1 <strong>Действующий интернет-магазин:</strong> более 500 товарных позиций, ассортимент постоянно пополняется. 
            li <strong>Гарантия возврата инвестиций</strong> <span class="nowrap">в течение</span> трех месяцев при условии сохранении товарного вида продукции.
            li.order1 <strong>Легкий старт:</strong> достаточно купить товара на 100 000 рублей и сразу начать продавать, остальное мы берем на себя.
            li.order-1 <strong>Эксклюзивное право работать</strong> под торговой маркой GPSOFF.ru в вашем городе. 
            li <strong>Успешная бизнес-модель:</strong> маржинальность 20-60%, низкая конкуренция, спрос растет каждый год.
            li.order1 <strong>Без взносов:</strong> отсутствие роялити и паушального взноса, вы платите только за товары <span class="nowrap">для магазина</span>.